@page "/"
@using OfficeLunchVote.Client.services
@inject HttpClient Http;

<PageTitle>Index</PageTitle>

<h1>Welcome to our lunch voting system!</h1>

<NavLink href="/vote">Click here to vote</NavLink>

@code {

}